<nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
           <a class="nav-link">Orden por precios</a>
        </li>
    </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text"  placeholder="Search" aria-label="Search">
    </form>
</nav>
<div class="row">

<albert-libro-desc class="col-6 mt-4" *ngFor="let libro of libros" [libro]="libro"></albert-libro-desc>
</div>
