
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Proyecto Final</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/libros']" [routerLinkActive]="['active']">Ver Libros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/libros/add']" [routerLinkActive]="['active']">Añadir libros</a>
            </li>
        </ul>
    </nav>
    <div>
      
    </div>
</div>
