<div class="card">
    <img class="card-img-top">
   
    <div class="card-body">
        <a>{{libro.titulo}}</a>
    
        <p class="card-text">{{libro.cod}}</p>
    </div>
    <div class="card-footer text-muted">
        <span class="float-right">{{libro.precio}}</span>
    </div>
    <div>
        <button class="btn btn-danger ml-3 float-right">Delete</button>
    </div>
</div>
