<form class="mt-4" (ngSubmit)="addLibro()">
    <div class="form-group">
        <label for="name">Código</label>
        <input type="text" class="form-control" name="cod" [(ngModel)]="newLibro.cod" placeholder="Código nuevo">
    </div>
    <div class="form-group">
        <label for="date">Isbn</label>
        <input type="date" class="form-control" name="isbn" [(ngModel)]="newLibros.isbn">
    </div>
    <div class="form-group">
        <label for="description">Precio</label>
        <textarea class="form-control" name="price" min="0.00" max="1000.00" step="0.01" [(ngModel)]="newPrecio.precio"></textarea>
    </div>
    <div class="form-group">
        <label for="price">Titulo</label>
        <input type="number" class="form-control" name="titulo" [(ngModel)]="newLibro.titulo">
    </div>
    <div class="form-group">
        <label for="image">Imagen</label>
        <input type="file" class="form-control" name="image" #fileImage (change)="changeImage(fileImage)" [(ngModel)]="newLibro.image">
    </div>
    <div class="form-group">
        <label for="price">Código Autor</label>
        <input type="number" class="form-control" name="cod_ac" [(ngModel)]="newLibro.cod_ac">
    </div> 
    <button type="submit" class="btn btn-primary">Añadir</button>
</form>
